.calculator-grid {
    margin: 5vh 0 5vh 0;
    width: auto;
    height: auto;
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(6rem,auto) repeat(5,6rem);

}

.calculator-grid > button {
    background-color: #282c34;

    color: ghostwhite;
    font-size: x-large;

    border: 3px ridge lightslategray;

}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: #282c34;

    color: ghostwhite;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.output .calculation {
    color: rgba(248,248,255,0.85);
    font-size: 2.2rem;
}

.output .result {
    color: ghostwhite;
    font-size: 3rem;
}