.main-container {
    width: 100%;
    height: 140vh;
    background: linear-gradient(to right, rgba(255,0,0,1) 0%, rgba(6,8,14,1) 4%, rgba(0,0,0,1) 96%, rgba(255,0,0,1) 100%);
   /* background-color: #020307;*/

    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}

