.calc-descriptions-container {
    width: 100%;
}

.calc-description-div {
    width: 29vw;
    height: auto;

    border: 3px solid ghostwhite;
}

.calc-description-text {
    text-align: justify;
}

.calc-description-button {
    width: 30%;
    background-color: #282c34;

    font-size: 18px;
    border-radius: 12px;
    transition: background-color 200ms ease-in;
}

.calc-description-button:hover {
    background-color: blue;
}


.respawn-button {
    background-color: #282c34;
    width: 8vw;
    height: auto;
    font-size: 19px;

    left: 20px;
}
