.main-container {
    width: 100%;
    height: 180vh;
    background-color: deepskyblue;

    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

